In [1]:
import pandas as pd
import plotly.express as px

In [2]:
data = pd.read_csv('prac.csv',header=None)
data.head()

,0,1,2,3,4,5,6,7,8
0,Brands,2016,2017,2018,2019,2020,2021,2022,2023
1,Apple,79918,92956,36311,98601,70320,51261,92014,78019
2,Mi,3315550,1409596,9277163,1660474,9992642,8448689,3212109,3837745
3,Samsung,9394877,6224008,2676267,10854249,9698714,5601749,11744976,6454424
4,Nokia,9957350,10681674,8963409,9150408,8832315,7767173,5021397,9566786

In [3]:
data.to_csv('output.csv',header=False,index=False)

In [4]:
de = pd.read_csv('output.csv')
de.head()

,Brands,2016,2017,2018,2019,2020,2021,2022,2023
0,Apple,79918,92956,36311,98601,70320,51261,92014,78019
1,Mi,3315550,1409596,9277163,1660474,9992642,8448689,3212109,3837745
2,Samsung,9394877,6224008,2676267,10854249,9698714,5601749,11744976,6454424
3,Nokia,9957350,10681674,8963409,9150408,8832315,7767173,5021397,9566786
4,Moto,8811559,8960636,9256990,5709109,9261169,1095159,11050079,2209602

In [18]:
de.rename(columns={'Brands': 'Year'}, inplace=True)
de.head()
de.transpose()
de.to_csv('some.csv',header=False)

In [19]:
dt = pd.read_csv('some.csv')

In [14]:
df = pd.read_csv('pra.csv')
df.head()

   Years  Apple       Mi   Samsung     Nokia     Moto     Vivo     Oppo
0   2016  79918  3315550   9394877   9957350  8811559  3216518  4292105
1   2017  92956  1409596   6224008  10681674  8960636  1199904  4892096
2   2018  36311  9277163   2676267   8963409  9256990  6631994  5552392
3   2019  98601  1660474  10854249   9150408  5709109  7478769  7785292
4   2020  70320  9992642   9698714   8832315  9261169  6015910  2739808

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
y=['Apple','Mi','Samsung','Nokia','Moto','Vivo','Oppo']

In [ ]:
fig = px.line(df, x='Years', y=y)
fig.show()

In [ ]:
fig = px.bar(df, x='Years', y=y)
fig.show()

In [ ]:
print(df)

In [ ]:
df.shape

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
x= df[["Years"]]
y=df[['Apple','Mi','Samsung','Nokia','Moto','Vivo','Oppo']]

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x, y)

In [ ]:
x_train.shape

In [ ]:
model = LinearRegression()
model

In [ ]:
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [ ]:
modely_pred